*.jdbin
*.html
*.swp
*.png
*.jpg
*.pdf
*.dat
*.gp
*.db

cluster_creation
doxygen/log
doxygen/warnings
doxygen/html

lib/diffdir/diffdir
lib/gnuplot/gnuplot2image
lib/jdtools/jdhtml
lib/jdtools/jdread
lib/pso/log
lib/pstricks2pdf/pstricks2pdf
lib/tofraction/tofraction

mc
mcbi
min
study
check
